{% extends 'html.twig' %}
{% import 'macros_forms.twig' as forms %}

{% set phoneExpr = '^(\\+[0-9]+)? *([0-9] *){5,}$' %}
{% set mailExpr = '^\\S+@\\S+$' %}

{% block content %}
  {% if lang == 'en' %}
    {% set action = 'do-submit.php?lang=en' %}
    {% set hurtigtest = 'Rapid test' %}
    {% set personalia = 'Personalia' %}
    {% set navn = 'Name' %}
    {% set tlf = 'Phone' %}
    {% set epost = 'E-mail' %}
    {% set foedselsnummer = 'National identity number/<br/>D number' %}
    {% set noFoedselsnummer =
      "I don't have a <br/> National identity number/<br/>D number"
    %}
    {% set tidspunktTittel = 'Time' %}
    {% set noTime = 'There are no free slots at the moment.' %}
    {% set fullt = 'Full' %}
    {% set bestill = 'Sign up' %}
  {% else %}
    {# Defaults to norwegian #}
    {% set action = 'do-submit.php' %}
    {% set hurtigtest = 'Hurtigtest' %}
    {% set personalia = 'Personalia' %}
    {% set navn = 'Navn' %}
    {% set tlf = 'Telefon' %}
    {% set epost = 'E-post' %}
    {% set foedselsnummer = 'Fødselsnummer/<br/>D-nummer' %}
    {% set noFoedselsnummer = 'Jeg har ikke<br/>Fødselsnummer/<br/>D-nummer' %}
    {% set tidspunktTittel = 'Tidspunkt' %}
    {% set noTime = 'Det er for øyeblikket ingen ledige tidspunkter.' %}
    {% set fullt = 'Fullt' %}
    {% set bestill = 'Bestill' %}
  {% endif %}
  <h1>{{ hurtigtest }}</h1>
  <p class="info">
    Denne siden er fortsatt under utvikling og er ikke tatt i bruk.<br />
    This page is still in development and is not in use yet.
  </p>
  {% if lang != 'en' %}
    <a href="?lang=en">English version</a>
  {% endif %}
  {% if free > 0 %}
    <form
      id="input-form"
      method="POST"
      action="{{ action }}"
      onSubmit="return validateForm()"
    >
      <h2 style="grid-column: 1 / -1; font-weight: bold; text-align: center">
        {{ personalia }}
      </h2>
      <label for="input-name">{{ navn }}</label>
      <input id="input-name" type="text" name="name" required />
      <label for="input-tlf">{{ tlf }}</label>
      <input
        id="input-tlf"
        type="text"
        name="tlf"
        pattern="{{ phoneExpr }}"
        required
      />
      <label for="input-mail">{{ epost }}</label>
      <input
        id="input-mail"
        type="text"
        name="mail"
        pattern="{{ mailExpr }}"
        required
      />
      <label id="label-fødselsnummer" for="input-fødselsnummer">
        {{ foedselsnummer|raw }}
      </label>
      <input
        id="input-fødselsnummer"
        type="text"
        name="fødselsnummer"
        onChange="validateFødselsnummer()"
        required
      />
      <label for="input-no-fødselsnummer">{{ noFoedselsnummer|raw }}</label>
      {{
        forms.checkbox(
          'input-no-fødselsnummer',
          'no_fødselsnummer',
          null,
          'validateFødselsnummer()'
        )
      }}
      <h2 style="grid-column: 1 / -1; text-align: center">
        {{ tidspunktTittel }}
      </h2>
      {% for tidspunkt in tidspunkter %}
        {% set labeltext = tidspunkt.weekday ~ ' ' ~ tidspunkt.day ~ '. '
          ~ tidspunkt.month
          ~ '<br/>'
          ~ tidspunkt.startTime
          ~ '&nbsp;-&nbsp;'
          ~ tidspunkt.endTime
        %}
        <div style="grid-column: 1 / -1">
          {% if tidspunkt.paameldte >= tidspunkt.plasser %}
            <input
              id="input-time-{{ tidspunkt.id }}"
              type="radio"
              value="{{ tidspunkt.id }}"
              disabled
            />
            <label for="input-time-{{ tidspunkt.id }}">
              <span>{{ fullt }}</span>
              <span>{{ labeltext|raw }}</span>
            </label>
          {% else %}
            <input
              id="input-time-{{ tidspunkt.id }}"
              type="radio"
              name="time"
              value="{{ tidspunkt.id }}"
              onChange="validateRadios();"
            />
            <label for="input-time-{{ tidspunkt.id }}">
              <span style="flex-basis: 100%">{{ labeltext|raw }}</span>
            </label>
          {% endif %}
        </div>
      {% endfor %}
      <p id="input-message" style="display: none; grid-column: 1 / -1;"></p>
      <input type="submit" style="grid-column: 1 / -1;" value="{{ bestill }}" />
    </form>
    <script>loadInfo();validateFødselsnummer();</script>
  {% else %}
    <p class="info">{{ noTime }}</p>
  {% endif %}
{% endblock %}
